* {
  background-color: rgb(191, 243, 207);
  font-family: Verdana, sans-serif;
  font-size: 24px;
}
.index {
  text-align: center;
}
h1 {
  font-size: 52px;
  font-weight: 800;
  color: rgba(240, 16, 16, 0.8);
  text-align: center;
}
.ing,
.steps {
  color: rgba(240, 16, 16, 0.8);
}
li {
  font-size: 20px;
  color: rgb(56, 54, 54);
}
.img {
  width: 300px;
  height: auto;
}
